In [4]:
import mysql.connector
from sqlalchemy import create_engine
from datetime import datetime
import locale

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
  database="movies_metadata"
)
mycursor = mydb.cursor()
engine = create_engine('mysql+mysqlconnector://sqluser:password@localhost/movies_metadata')

ProgrammingError: 1049 (42000): Unknown database 'movies_metadata'

In [5]:
actors = ["Tom Hanks"] #if actor's character name entered, append a dictionary.
characters = []
director = ""
genres = []
time_of_watch = "" # As string and convert it into date time
production_companies = ['Pixar Animation Studios']

query = ''

In [75]:
# production company
pc_len = len(production_companies)
for i in range(pc_len):
    if (i == 0 and query != '') or (i > 0 and i <= pc_len-1):
        query += "\nINTERSECT\n"
    query += f"SELECT M.Id, M.title FROM productionCompanies PC, movie M, produce P WHERE P.movieId = M.id AND P.pcId = PC.id AND PC.name = '{production_companies[i]}'"

In [76]:
# Actors
actor_len = len(actors)
for i in range(actor_len):
    if (i == 0 and query != '') or (i > 0 and i <= actor_len-1):
        query += "\nINTERSECT\n"
    query += f"SELECT M.Id, M.title FROM movie M, has_cast C, actors A WHERE M.id = C.movieId AND C.actorId = A.id AND A.name = '{actors[i]}'"

In [ ]:
# Characters
characters_len = len(characters)
for i in range(characters_len):
    if (i == 0 and query != '') or (i > 0 and i <= characters_len-1):
        query += "\nINTERSECT\n"
    query += f"SELECT M.Id, M.title FROM movie M, has_cast C WHERE M.id = C.movieId AND C.character = '{characters[i]}'"

In [ ]:
# Genres
genres_len = len(genres)
for i in range(genres_len):
    if (i == 0 and query != '') or (i > 0 and i <= genres_len-1):
        query += "\nINTERSECT\n"
    query += f"SELECT M.Id, M.title FROM movie M, movie_genres MG, genres G WHERE M.id = MG.movieId AND MG.genreId = G.id AND G.name = '{genres[i]}'"

In [7]:
# Director
if(director != ""):
    query+=f"\nINTERSECT\nSELECT M.Id, M.title FROM movie M, directs MD, director D WHERE M.id = MD.movieId AND MD.directorId = D.id AND D.name= {director}"

In [21]:
# Time of Watch
#format in sql -> YYYY-MM-DD
# from datetime import datetime (added at the start)
# import locale (added at the start)
if(time_of_watch != ""):
    locale.setlocale(locale.LC_ALL, 'en_US')
    datetime_object = datetime.strptime(time_of_watch, '%Y')
    query+=f"\nINTERSECT\nSELECT M.Id, M.title FROM movie M WHERE YEAR(M.releaseDate) <= {datetime_object.year}"

In [71]:
print(query)

SELECT M.Id, M.title FROM productionCompanies PC, movie M, produce P WHERE P.movieId = M.id AND P.pcId = PC.id AND PC.name = 'Pixar Animation Studios'
INTERSECT
SELECT M.Id, M.title FROM movie M, has_cast C, actors A WHERE M.id = C.movieId AND C.actorId = A.id AND A.name = 'Tom Hanks'

In [79]:
mycursor.execute(query)

In [80]:
mycursor.fetchall()

[]