In [83]:
import mysql.connector
from sqlalchemy import create_engine
from datetime import datetime
import locale
import ast

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
  database="movies_metadata"
)
mycursor = mydb.cursor()
engine = create_engine('mysql+mysqlconnector://sqluser:password@localhost/movies_metadata')
query=""

In [81]:
#Take user input from frontend
received_object= {"actor1":"Tom Hanks" , "character1": "Malooka","actor2":"Tom Fangs" , "character2": "Woody (voice)","actor3":"Ahmad Yasser" , "character3": "","actor4":"" , "character4": "erhamna yarab","actor5":"yassin" , "character5": "","production_company1":""}

In [76]:
# In the first input field there are 3 cases
# 1st -> user entered actor name only
# 2nd -> user entered character name only
# 3rd user entered both
# For each case we will pass the dictionary values to a specific query 
for i in range (1,6):
    actor_val= received_object.get(f"actor{i}")
    char_val= received_object.get(f"character{i}")
    if (i == 1 and query != '') or (i > 1 and i <= 6-1): 
        query += "\nINTERSECT\n"
    if(actor_val != '' and char_val==''): # 1st case
        query += f"SELECT M.Id, M.title FROM movie M, has_cast C, actors A WHERE M.id = C.movieId AND C.actorId = A.id AND A.name = '{actor_val}'"
    elif(actor_val == '' and char_val!=''): # 2nd case
        query += f"SELECT M.Id, M.title FROM movie M, has_cast C WHERE M.id = C.movieId AND C.character = '{char_val}'"
    elif(actor_val != '' and char_val !=''): # 3rd case
        query += f"SELECT M.Id, M.title FROM movie M, has_cast C, actors A WHERE M.id = C.movieId AND C.actorId = A.id AND A.name = '{actor_val}' AND C.character = '{char_val}'"

In [82]:
# production company
pc_val=received_object.get("production_company1")
print(pc_val)
if(pc_val != ''):
    query += "\nINTERSECT\n"
    query += f"SELECT M.Id, M.title FROM productionCompanies PC, movie M, produce P WHERE P.movieId = M.id AND P.pcId = PC.id AND PC.name = '{pc_val}'"

In [66]:
# Genres
for i in range(1,4):
    genre_val= received_object.get(f"genre{i}")
    if(genre_val != ''):
        if (i == 1 and query != '') or (i > 1 and i <= 4-1):
            query += "\nINTERSECT\n"
        query += f"SELECT M.Id, M.title FROM movie M, movie_genres MG, genres G WHERE M.id = MG.movieId AND MG.genreId = G.id AND G.name = '{genre_val}'"

In [67]:
# Director
dir_val= received_object.get("director1")
if(dir_val != ''):
    query+=f"\nINTERSECT\nSELECT M.Id, M.title FROM movie M, directs MD, director D WHERE M.id = MD.movieId AND MD.directorId = D.id AND D.name= {dir_val}"

In [68]:
# Time of Watch
#format in sql -> YYYY-MM-DD
# from datetime import datetime (added at the start)
# import locale (added at the start)
time= received_object.get("year")
if(time != ''):
    query+=f"\nINTERSECT\nSELECT M.Id, M.title FROM movie M WHERE YEAR(M.releaseDate) <= {time}"

In [84]:
print(query)

In [79]:
mycursor.execute(query)

In [80]:
mycursor.fetchall()

[]