In [37]:
import mysql.connector
from sqlalchemy import create_engine

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
  database="movies_metadata"
)
mycursor = mydb.cursor()
engine = create_engine('mysql+mysqlconnector://sqluser:password@localhost/movies_metadata')

In [74]:
actors = ["Tom Hanks"] #if actor's character name entered, append a dictionary.
characters = []
director = ""
genres = []
time_of_watch = "" # As string and convert it into date time
production_companies = ['Pixar Animation Studios']

query = ''

In [75]:
# production company
pc_len = len(production_companies)
for i in range(pc_len):
    if (i == 0 and query != '') or (i > 0 and i <= pc_len-1):
        query += "\nINTERSECT\n"
    query += f"SELECT M.Id, M.title FROM productionCompanies PC, movie M, produce P WHERE P.movieId = M.id AND P.pcId = PC.id AND PC.name = '{production_companies[i]}'"

In [76]:
# Actors
actor_len = len(actors)
for i in range(actor_len):
    if (i == 0 and query != '') or (i > 0 and i <= pc_len-1):
        query += "\nINTERSECT\n"
    query += f"SELECT M.Id, M.title FROM movie M, has_cast C, actors A WHERE M.id = C.movieId AND C.actorId = A.id AND A.name = '{actors[i]}'"

In [71]:
print(query)

SELECT M.Id, M.title FROM productionCompanies PC, movie M, produce P WHERE P.movieId = M.id AND P.pcId = PC.id AND PC.name = 'Pixar Animation Studios'
INTERSECT
SELECT M.Id, M.title FROM movie M, has_cast C, actors A WHERE M.id = C.movieId AND C.actorId = A.id AND A.name = 'Tom Hanks'

In [79]:
mycursor.execute(query)

In [80]:
mycursor.fetchall()

[]