In [1]:
import mysql.connector
import pandas as pd
import ast
from sqlalchemy import create_engine

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
  database="movies_metadata"
)

mycursor = mydb.cursor()
engine = create_engine('mysql+mysqlconnector://root:password@localhost/movies_metadata')

In [3]:
#read the csv and converted the mentioned columns to python literal expressions
df = pd.read_csv("data/new_movies_metadata.csv")
dic_columns = ["genres", "production_companies", "production_countries", "spoken_languages",
               "keywords", "cast", "crew"]
for c in dic_columns:
    df[c] = df[c].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) and x != '[]' else [])

In [8]:
#movie table
movie_columns = ["id", "imdb_id", "title", "releaseDate", "runtimeMinutes","overview","popularity"]
movie_table = df[movie_columns]
# movie_columns["popularity"] = movie_columns["popularity"]

movie_table.to_sql(name="movie", con=engine, if_exists="append", index=False)

45430

In [9]:
#Genres table
unique_genres = set()
for genres_list in df["genres"]:
  for genre in genres_list:
      unique_genres.add((genre.get("id"), genre.get("name")))

for id, name in unique_genres:
  query = "INSERT IGNORE INTO genres (id, name) VALUES (%s, %s);"
  mycursor.execute(query, (id, name))

In [10]:
#movie_genres table
for _, row in df.iterrows():
  movie_id = row["id"]
  for genre in row["genres"]:
      genre_id = genre.get("id")
      query = "INSERT INTO movie_genres (movieId, genreId) VALUES (%s, %s);"
      mycursor.execute(query, (movie_id, genre_id))

In [11]:
#production_companies table
unique_companies = set()
for company_list in df["production_companies"]:
  for company in company_list:
      unique_companies.add((company.get("id"), company.get("name")))

for id, name in unique_companies:
  query = "INSERT IGNORE INTO productionCompanies (id, name) VALUES (%s, %s);"
  mycursor.execute(query, (id, name))

In [5]:
#produce table (relationship)
for _, row in df.iterrows():
  movie_id = row["id"]
  for company in row["production_companies"]:
    company_id = company.get("id")
    query = "INSERT IGNORE INTO produce (movieId, pcid) VALUES (%s, %s);"
    mycursor.execute(query, (movie_id, company_id))

In [12]:
#Spoken_lagnuages table
unique_languages = set()
for l_list in df["spoken_languages"]:
  for l in l_list:
      unique_languages.add((l.get("iso_639_1"), l.get("name")))

for language_code, name in unique_languages:
  query = "INSERT IGNORE INTO spokenLanguage (languageCode, name) VALUES (%s, %s);"
  mycursor.execute(query, (language_code, name))

In [13]:
df1 = pd.read_csv("data/new_basics.csv")
details_columns = ["original_title", "overview", "tagline", "startYear", "id"]

In [15]:
#movie_spokenlanguage table
for _, row in df1.iterrows():
  movie_id = row["id"]
  query = "INSERT IGNORE INTO movies_spokenLanguage (movieId, languageCode) VALUES (%s, %s);"
  for language in ast.literal_eval(row["spoken_languages"]):#converted the row of spoken language into literal python expresssions
    language_code = language.get("iso_639_1")
    mycursor.execute(query, (movie_id, language_code))

In [16]:
#Keywords table
keywords_df = pd.read_csv("data/keywords.csv")
dic_columns = ["keywords"]
for c in dic_columns:
    keywords_df[c] = keywords_df[c].apply(lambda x: ast.literal_eval(x) if x and x != '[]' else [])

unique_keywords = set()
for keywords_list in keywords_df["keywords"]:
  for keyword in keywords_list:
      unique_keywords.add((keyword.get("id"), keyword.get("name")))

for id, name in unique_keywords:
  query = "INSERT IGNORE INTO keywords (id, name) VALUES (%s, %s);"
  mycursor.execute(query, (id, name))

In [17]:
#movie_keyword table
for _, row in keywords_df.iterrows():
  movie_id = row["id"]
  for keyword in row["keywords"]:
    keyword_id = keyword.get("id")
    query = "INSERT IGNORE INTO movie_keywords (movieId, keywordId) VALUES (%s, %s);"
    mycursor.execute(query, (movie_id, keyword_id))

In [26]:
#actors and cast
unique_casts = set()
unique_actors = set()
for _, row in df.iterrows():
  movie_id = row["id"]
  for cast in row["cast"]:
    unique_casts.add((cast.get("character"),cast.get("id"), cast.get("gender"), movie_id))
    unique_actors.add((cast.get("id"), cast.get("name")))

for cast_id, name in unique_actors:
  query = "INSERT IGNORE INTO actors (id, name) VALUES (%s, %s);"
  mycursor.execute(query, (cast_id, name))

for character, actorId,gender, movieId in unique_casts:
  query = "INSERT IGNORE INTO has_cast (`character`,actorId,gender, movieId) VALUES (%s, %s, %s, %s);"
  mycursor.execute(query, (character,actorId, gender, movieId))

In [28]:
#Director table
unique_directors = set()
for directors_list in df["crew"]:
  for directors in directors_list:
    if directors.get("job").lower() == "director":
      unique_directors.add((directors.get("id"), directors.get("name")))

for id,name in unique_directors:
  query = "INSERT IGNORE INTO director (id, name) VALUES (%s, %s);"
  mycursor.execute(query, (id, name))

In [31]:
#has_director table
for _, row in df.iterrows():
  movie_id = row["id"]
  for crew in row["crew"]:
    crew_id = crew.get("id")
    query = "INSERT IGNORE INTO directs (directorId, movieId) VALUES (%s, %s);"
    mycursor.execute(query, (crew_id, movie_id))

In [ ]:
from nltk.tokenize import word_tokenize
import string_cleaning


mycursor.execute("SELECT id, overview FROM movie")
overview_data = mycursor.fetchall()

movie_ids = []
tokenized_overviews = []
for overview in overview_data:
  if overview[1]:
    movie_ids.append(overview[0])
    tokens = string_cleaning.clean_string_ret_list(overview[1])
    tokenized_overviews.append(tokens)

query = "INSERT INTO overviewtokens (movieId, token) VALUES (%s, %s)"

for i in range(len(movie_ids)):
  movie_id = movie_ids[i]
  for token in tokenized_overviews[i]:
    mycursor.execute(query, (movie_id, token))

In [6]:
mydb.commit()

In [7]:
mycursor.close()
mydb.close()